node_modules
.env

# Hardhat files
blockchain/cache
blockchain/artifacts

# TypeChain files
blockchain/typechain
blockchain/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
blockchain/ignition/deployments/chain-31337


SEPOLIA_DEPLOYMENT.md